/*Taken from https://css-tricks.com/perfect-full-page-background-image/*/
body { 
	/*image downloaded from http://petaimg.com/gaming-wallpaper-gallery-photos/*/
  background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.body-information{
  	color:white;
	background-color: rgba(0, 0, 0, 0.7);
	display: inline;
	position: absolute;
	margin: 0px 20px 0px 20px;
}

.navbar {
	font-size: 24px;
}

.navbar-static-top {
	margin-bottom: 10px;
}