/*Taken from https://css-tricks.com/perfect-full-page-background-image/*/
body {
	/*image downloaded from http://petaimg.com/gaming-wallpaper-gallery-photos/*/
	background: url(images/Background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-bottom: 100px;
}

.profile-picture {
	max-width: 100%;
	width: auto;
	height: auto\9;
}

.body-information {
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
	padding-bottom:20px;
}

.body-information h1{
	text-align:center;
}

.navbar {
	font-size: 24px;
}

.navbar-collapse{
	margin-top:5px;
}

.navbar-static-top {
	margin-bottom: 10px;
}

.icon {
	margin-top:-10px;
	margin-right:-10px;
	margin-bottom:-5px;
	opacity:0.7;
	position: relative;
	height:35px;
	float: auto;
}

.carousel {
	height: 300px;
	margin-bottom: 20px;
}

.carousel-caption {
	z-index: 10;
}

.carousel-caption h1, .carousel-caption p {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.7);
}

.carousel .item {
	height: 300px;
	background-color: #777;
}

.carousel-inner>.item>img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 300px;
}


.project-image{
	height:100%;
	width:100%;
	overflow:hidden;
}

.thumbnail {
    position:relative;
    overflow:hidden;
}

.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(0, 0,0, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}
#links a{
	display:inline-block;
	font-size:20px;
	margin-right: 10px;
	margin-bottom:10px;
}

.caption p{
	position:relative;
	top: 50%;
	transform:translateY(-50%);
}

/*Removes picture when screen width gets too narrow*/
@media only screen and (max-width: 1200px) {
	.profile-picture {
		display: none;
	}
}