body {
  padding-top: 50px;
  background-color:lightgrey;
}
.body-information{
  padding: 40px 15px;
  text-align: center;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.profile-picture{
	height: 300px;
	
}
/* Carousel base class */
.carousel {
  /*width:100%;*/
  width:auto;
  height: 300px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	
  z-index: 10;
}

.carousel-caption h1, .carousel-caption p{
	display:inline-block;
	background-color:rgba(0,0,0,0.7);
}



/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 300px;
}